.background{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}
.backGround_title{
    position: absolute;
    width: 100%;
}   
.title_caption{
    text-align: center;
    color: white;
    position: relative;
    top: 40vh;
    font-size : 1.2rem
    
    
}
.title{
    text-align: center;
    color: white;
    position: relative;
    top: 40vh;
    font-size: 4rem;
}